[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
flask-marshmallow = "==0.14.0"
flask-sqlalchemy = "==2.5.0"
marshmallow-sqlalchemy = "==0.24.1"
connexion = "==2.7.0"
openapi-schema-validator= "==0.1.5"
openapi-spec-validator= "==0.3.1"
swagger-ui-bundle = "==0.0.8"

[requires]
python_version = "3.7"
